/**
 * Common Definitions
 * Aspen ltd
 *
 * Copyright (c) 2020. by Way2CU, http://way2cu.com
 * Authors: Mladen Mijatov, Vladimir Anusic
 */

@color_background: #ffffff;
@color_text: #333333;
@color_background_theme_dark: #333333;
@color_text_theme_dark: #ffffff;
@color_gold: #b07a17;
@color_dark_yellow: #ae812a;
@color_bright_yellow: #f1c650;

@section_spacing: 4rem;
@section_padding: @section_spacing calc(~'(100% - 1200px)' / 2);
@header_spacing: 1rem;
@paragraph_spacing: 1rem;
@button_padding: 0.5rem 1rem;
@input_padding: 0.5rem;
@finger_size: 2.5rem;

@color_t_gold: #ffb338;
@color_t_light: #77571d;
@color_t_dark: #3e2904;

.title-3d(@color: #1e2127) {
	display: grid;
	grid-template-areas: 'overlap';
	place-content: center;

	text-transform: uppercase;
	box-sizing: border-box;

	> div {
		grid-area: overlap;

		background-clip: text;
		-webkit-background-clip: text;

		color: @color;
		font-weight: 900;
		font-size: 1em;
		letter-spacing: 1px;
		-webkit-text-stroke: 4px transparent;

		&.bg {
			background-image: repeating-linear-gradient(
				105deg,
				@color_t_gold 0%,
				@color_t_dark 5%,
				@color_t_gold 12%
				);

			color: transparent;

			filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.5));
			transform: scaleY(1.05);
			transform-origin: top;
		}

		&.fg{
			background-image: repeating-linear-gradient(
				5deg,
				@color_t_gold 0%,
				@color_t_light 23%,
				@color_t_gold 31%
				);
			color: @color;
			transform: scale(1);
		}
	}
}
