/**
 * Content Style Sheet
 * Aspen Site
 *
 * Copyright (c) 2024. by Way2CU, http://way2cu.com
 * Authors: Mladen Mijatov, Vladimir Anusic
 */

section {
	padding: 1em;
	box-sizing: border-box;

	> article > h2 {
		margin-top: 1em;
		margin-bottom: 1em;
		font-size: 2rem;
		text-align: center;

		.title-3d();
	}

	&#first {
		position: relative;
		margin-top: 4em;
		overflow: hidden;

		background-image:
			linear-gradient(180deg, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 1) 100%),
			url(../images/main_image_mobile.jpg);
		background-size: cover;
		background-repeat: no-repeat;
		background-position: top center;
		background-color: lighten(@color_text, 30);

		color: @color_text_theme_dark;
		text-shadow: 1px 1px 3px @color_background_theme_dark;

		div.container {
			text-align: center;

			article {
				padding: 1rem;
				padding-top: 7rem;
				text-align: center;

				h1 {
					font-size: 2rem;
					margin-top: 1rem;
					margin-bottom: 2rem;
					text-align: center;

					.title-3d(@color_bright_yellow);
				}

				h2 {
					font-size: 1.5rem;
				}

				p {
					line-height: 1.3;
				}

				hr {
					border: 1px solid @color_gold;
				}
			}

			p {
				display: block;
				text-align: center;

				em {
					display: inline-block;
				}
			}
		}
	}

	&#our-story {
	}

	&#fields-of-activity {
		min-height: 600px;

		> h2 {
			margin-bottom: 1em;
			text-align: center;
			.title-3d();
		}

		ul {
			display: flex;
			flex-direction: column;
			gap: 2em;
			margin: 0;
			padding: 0;

			list-style-type: none;
			list-style-image: none;

			text-align: center;

			li {
				flex-grow: 1;
				flex-basis: 0;

				figure {
					margin: 0;
					margin-bottom: 1em;
					padding: 0;
				}
			}
		}
	}

	&#target-markets {
		min-height: 600px;
		padding: 1em;
		padding-bottom: 500px;

		background-image:
			url(../images/girls/girl_3.png),
			linear-gradient(180deg,
				@color_background 20%,
				lighten(@color_gold, 30%) 75%,
				lighten(@color_gold, 30%) 80%,
				@color_background 100%
				);
		background-image:
			url(../images/girls/girl_3.webp),
			linear-gradient(180deg,
				@color_background 20%,
				lighten(@color_gold, 30%) 75%,
				lighten(@color_gold, 30%) 80%,
				@color_background 100%
				);
		background-repeat: no-repeat, repeat-x;
		background-size: auto 500px, auto;
		background-position: center bottom, top left;
	}

	&#strategy {
		min-height: 600px;
		padding: 1em;
		padding-bottom: 500px;

		background-image: url(../images/girls/girl_0.png);
		background-image: url(../images/girls/girl_0.webp);
		background-repeat: no-repeat;
		background-size: auto 500px;
		background-position: center bottom;
	}

	&#contact-us {
		position: relative;
		min-height: 600px;
		padding: 1em;
		padding-bottom: 500px;

		background-color: @color_background_theme_dark;
		background-image: url(../images/girls/girl_1.png);
		background-image: url(../images/girls/girl_1.webp);
		background-repeat: no-repeat;
		background-size: auto 500px;
		background-position: center bottom;

		color: @color_text_theme_dark;

		hr {
			margin-top: 2em;
			margin-bottom: 2em;

			border: 0;
			border-bottom: 1px solid @color_gold;
		}

		// contact options
		div {
			text-align: center;

			a.button {
				position: relative;
				display: inline-block;
				vertical-align: middle;
				margin: 0 0.2rem;
				padding: 0.5rem 0.6rem;
				padding-left: 2.5em;
				overflow: hidden;

				border: 1px solid transparent;
				border-radius: 15px;
				background-color: @color_gold;

				color: @color_background;
				font-size: 1.2em;
				text-decoration: none;

				transition: all 0.3s;

				&:hover,
				&:active,
				&:focus {
					background: lighten(@color_gold, 10);
					transform: translate(-2px, -2px);
					cursor: pointer;
				}

				> svg {
					position: absolute;
					top: 50%;
					left: 0.2em;
					width: 2em;

					fill: fade(@color_background, 20%);
					transform: translate(0, -50%);

					html[dir=rtl] & {
						margin-right: 0;
						margin-left: 0.2em;
					}
				}
			}
		}
	}
}

div.dialog {
	top: 6em !important;
	width: 90%;
}

div.dialog.dialog_form {
	border: 2px solid @color_gold;
	border-radius: 5px;
	font-family: generic;

	div.title {
		background-color: @color_text;
	}

	div.content {
		background-color: @color_text;
	}

	div.command_bar {
		padding-bottom: 1rem;

		a {
			border: none;
			border-radius: 5px;
			background: linear-gradient(to right, @color_dark_yellow 25%, @color_bright_yellow 50%, @color_dark_yellow 75%,@color_bright_yellow 100%);
			color: @color_text;
			padding: @button_padding;
			display: inline-block;
			vertical-align: middle;
			width: 30%;
			transition: all 0.3s;
			box-sizing: border-box;
			margin-right: 2rem;
			text-transform: uppercase;

			html[dir=rtl] & {
				margin-right: 0;
				margin-left: 2rem;
			}

			&:hover,
			&:active,
			&:focus {
				background: linear-gradient(to right, @color_dark_yellow 35%, @color_bright_yellow 60%, @color_dark_yellow 85%,@color_bright_yellow 100%);
				cursor: pointer;
			}
		}

		button {
			background: linear-gradient(to right, @color_dark_yellow 25%, @color_bright_yellow 50%, @color_dark_yellow 75%,@color_bright_yellow 100%);
			color: @color_text;
			padding: 0.58rem 1rem;
			text-transform: uppercase;
			border: none;
			border-radius: 5px;
			display: inline-block;
			width: 30%;
			vertical-align: middle;
			box-sizing: border-box;

			&:hover,
			&:active,
			&:focus {
				background: linear-gradient(to right, @color_dark_yellow 35%, @color_bright_yellow 60%, @color_dark_yellow 85%,@color_bright_yellow 100%);
				cursor: pointer;
			}
		}
	}
}

div.form_container {
	padding: 1rem;
	padding-bottom: 0;
	text-align: center;
	transition: all 0.5s;
	background-color: @color_text;
	color: @color_background;

	p {
		margin-bottom: 1rem;
	}

	form {
		label {
			display: block;
			margin-bottom: 1rem;

			span {
				display: block;
				text-align: left;

				html[dir=rtl] & {
					text-align: right;
				}
			}

			input {
				padding: @button_padding;
				border: 1px solid @color_background;
				border-radius: 5px;
				color: @color_background;
				background-color: @color_text;
				display: inline-block;
				margin-top: 0.2rem;
				width: 100%;
				box-sizing: border-box;
				transition: all 0.3s;

				&:hover,
				&:active,
				&:focus {
					border-color: @color_gold;
				}
			}
		}
	}
}
