/**
 * Font Definitions
 * Aspen Site
 *
 * Copyright (c) 2020. by Way2CU, http://way2cu.com
 * Authors: Mladen Mijatov
 */

// regular font Latin
@font-face {
	font-family: 'generic';
	font-weight: normal;
	font-style: normal;
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;

	src: url(../images/fonts/roboto-regular.ttf) format('truetype');
	font-display: swap;
}

// bold font Latin
@font-face {
	font-family: 'generic';
	font-weight: bold;
	font-style: normal;
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;

	src: url(../images/fonts/roboto-bold.ttf) format('truetype');
	font-display: swap;
}

// italic font Latin
@font-face {
	font-family: 'generic';
	font-weight: normal;
	font-style: italic;
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;

	src: url(../images/fonts/roboto-italic.ttf) format('truetype');
	font-display: swap;
}

// regular font Latin
@font-face {
	font-family: 'indie';
	font-weight: normal;
	font-style: normal;
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;

	src: url(../images/fonts/indie-flower-regular.ttf) format('truetype');
	font-display: swap;
}
