/**
 * Footer Style Sheet
 * Aspen Site
 *
 * Copyright (c) 2024. by Way2CU, http://way2cu.com
 * Authors: Mladen Mijatov
 */

footer {
	padding: 0 calc(~'(100% - 1200px)' / 2);

	div.copyright {
	}
}
