/**
 * Header Style Sheet
 * Aspen Site
 *
 * Copyright (c) 2024. by Way2CU, http://way2cu.com
 * Authors: Mladen Mijatov
 */

header {
	display: flex;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	padding: 1em calc(~'(100% - 1200px)' / 2);
	justify-content: space-between;
	z-index: 10000000000000;

	background-color: @color_background_theme_dark;
	box-shadow: 3px 3px 5px fade(@color_background_theme_dark, 40%);

	color: @color_text_theme_dark;

	// logo
	> a {
		line-height: 0;

		svg {
			height: 3em;
			fill: @color_text_theme_dark;
		}
	}

	// main menu
	nav {
		a {
			display: inline-block;
			padding: 0.5em 1em;
			margin: 0 0.1em;

			border-radius: 15px;

			color: @color_bright_yellow;
			font-size: 1.2em;
			text-decoration: none;
			transition: all 0.3s;

			&:hover,
			&:active,
			&:focus {
				background-color: @color_dark_yellow;
				color: @color_text_theme_dark;
				transform: translate(-2px, -2px);
			}
		}
	}

	// contact options
	div {
		a.button {
			position: relative;
			display: inline-block;
			vertical-align: middle;
			margin: 0 0.2rem;
			padding: 0.5rem 0.6rem;
			padding-left: 2.5em;
			overflow: hidden;

			border: 1px solid transparent;
			border-radius: 15px;
			background-color: darken(@color_gold, 13%);

			color: @color_background;
			font-size: 1.2em;
			text-decoration: none;

			transition: all 0.3s;

			&:hover,
			&:active,
			&:focus {
				background: lighten(@color_gold, 10);
				transform: translate(-2px, -2px);
				cursor: pointer;
			}

			> svg {
				position: absolute;
				top: 50%;
				left: 0.2em;
				width: 2em;

				fill: fade(@color_background, 20%);
				transform: translate(0, -50%);

				html[dir=rtl] & {
					margin-right: 0;
					margin-left: 0.2em;
				}
			}
		}
	}
}
