/**
 * Main Style Sheet
 * Aspen Site
 *
 * Copyright (c) 2024. by Way2CU, http://way2cu.com
 * Authors: Mladen Mijatov, Vladimir Anusic
 */

@import (reference) 'common.less';
@import (reference) 'stock/functions.less';
@import 'fonts.less';
@import 'header.less';
@import 'content.less';
@import 'footer.less';

@import (css) 'stock/copyright.css';


body {
	background-color: @color_background;
	color: @color_text;
	box-sizing: border-box;
	width: 100vw;
	height: 100vh;

	font-family: generic;
}

input,
select,
textarea,
button {
	font-family: generic;
}

h1,
h2,
h3,
h4,
h5 {
	margin: 0;
	margin-bottom: @header_spacing;
	padding: 0;
}

p {
	margin: 0;
	margin-bottom: @paragraph_spacing;
	padding: 0;
	font-size: 1.2rem;
}

ul, ol {
	font-size: 1.2rem;
}
